html,
body {
   margin: 0;
   min-height: 100vh;
   min-width: 100vw;
   font-family: sans-serif;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

* {
   box-sizing: border-box;
}

.close {
   background: rgba(.5, .5, .5, .1);
   border: none;
   border-radius: 50%;
   outline: none;
   max-height: 2em;
   max-width: 2em;
   font-size: 1.5em;
   position: absolute;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   /* opacity: 50%; */
   top: 1em;
   right: 1em;
}

.close::before {
   content: "x";
   color: black;
}

.close:hover {
   background: rgba(.5, .5, .5, .25);
   transition: ease-in;
   transition-duration: 100ms;
}

.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.no-margin-border {
   margin: 0;
   border: none;
}

#location {
   
   border-radius: 0.25em;
   height: 75%;
   max-height: 75%;
   width: 75%;
   max-width: 75%;
   overflow: hidden;

   .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   img {
      min-width: 100px;
      min-height: 100px;
      margin: 0;
   }
}

#map {
   margin: 0;
   min-height: 100vh;
   min-width: 100vw;
   height: 100%;
   width: 100%;
}

swiper-container {
   height: 100%;
   width: 100%;
}

swiper-slider {
   #title {
      
   }
}

carousel-image {
   height: 100%;
   width: 100%;
}