html,
body {
   margin: 0;
   min-height: 100vh;
   min-width: 100vw;
   font-family: sans-serif;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   --swiper-theme-color: white !important;
}

h1 {
   font-size: 1.5em;
}

* {
   box-sizing: border-box;
}

nav{

   background-color: rgba( 55,	142,	152);
   color: seashell

}


body > nav {
   width: 100%;
   max-height: 5em;
   padding-inline: 1em;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   h1 {
      cursor: pointer;
   }
}

.close {
   position: absolute;
   top: 1em;
   right: 1em;
}

.close {
   background: rgba(.5, .5, .5, .1);
   border: none;
   border-radius: 50%;
   outline: none;
   max-height: 2em;
   max-width: 2em;
   font-size: 1.5em;

   display: inline-flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   /* opacity: 50%; */

   z-index: 1;
}

.close::before {
   content: "x";
   color: black;
}

.close:hover {
   background: rgba(.5, .5, .5, .25);
   transition: ease-in;
   transition-duration: 100ms;
}

.modal {
   border-radius: 0.25em;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 75%;
   max-height: 75%;
   width: 75%;
   max-width: 75%;
   overflow: auto;
}

.no-margin-border {
   margin: 0;
   border: none;
}

.swiper-button-prev > svg {
   fill: white;
   box-shadow: 3px;
}

#location {
   padding: 0;

   .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   img {
      /* JASON ADDED THIS ONE!*/
      max-width:100%;
      max-height:100%;
      min-width: 100px;
      min-height: 100px;
      margin: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

#map {
   margin: 0;
   min-height: 90vh;
   min-width: 100vw;
   flex-grow: 1;
   height: 100%;
   width: 100%;
}

swiper-container {
   height: 100%;
   width: 100%;
   --swiper-theme-color: white !important;
}

swiper-slide {
   min-height: 100%;
   min-width: 100%;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;

   .title-desc {
      width: 100%;
      position: absolute;
      color: white;
      top: 0px;
      left: 0%;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      background-image: linear-gradient(rgba(0,0,0,0.33), 75%, rgba(0,0,0,0));
   }

   /* img {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
   } */

   /* .title {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
      padding-top: 1em;
      padding-bottom: 1em;
      color: white;
   } */

   /* .description {
      justify-self: flex-end;
   } */
}

/*  */

/* .image-container {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   background-color: #f0f0f0;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 }
 
 .image-container img {
   width: 100%;
   height: auto;
   margin-bottom: 10px;
   border-radius: 5px 5px 0 0;
 }
 
 .title {
   position: absolute;
   top: 10px;
   left: 10px;
   background-color: rgba(0,0,0,0.5);
   color: white;
   padding: 5px 10px;
   border-radius: 5px;
 }
 
 .description {
   padding: 10px;
   text-align: center;
 } */
